NEXT_PUBLIC_API_URL=http://localhost:8787
NEXT_PUBLIC_BASE_URL=http://localhost:3000
AUTH_MODE=local-header
ACCOUNT_URL=https://account.akaaku.net/
APP_ID=natter
APP_SESSION_HMAC_SECRET=local-dev-secret
SESSION_KID=2026-04
INTERNAL_API_SECRET=xxx
