@import "tailwindcss";

body {
  font-family: Arial, Helvetica, sans-serif;
}


@theme {
  --color-background: 0 0% 100%;
  --color-foreground: 20 14.3% 4.1%;
  --color-card: 0 0% 100%;
  --color-card-foreground: 20 14.3% 4.1%;
  --color-popover: 0 0% 100%;
  --color-popover-foreground: 20 14.3% 4.1%;
  --color-primary: 47.9 95.8% 53.1%;
  --color-primary-foreground: 26 83.3% 14.1%;
  --color-secondary: 60 4.8% 95.9%;
  --color-secondary-foreground: 24 9.8% 10%;
  --color-muted: 60 4.8% 95.9%;
  --color-muted-foreground: 25 5.3% 44.7%;
  --color-accent: 60 4.8% 95.9%;
  --color-accent-foreground: 24 9.8% 10%;
  --color-destructive: 0 84.2% 60.2%;
  --color-destructive-foreground: 60 9.1% 97.8%;
  --color-border: 20 5.9% 90%;
  --color-input: 20 5.9% 90%;
  --color-ring: 20 14.3% 4.1%;
  --border-radius: 0.5rem;
  --color-chart-1: 12 76% 61%;
  --color-chart-2: 173 58% 39%;
  --color-chart-3: 197 37% 24%;
  --color-chart-4: 43 74% 66%;
  --color-chart-5: 27 87% 67%;
}

body {
  background-color: hsl(var(--color-background));
  color: hsl(var(--color-foreground));
}
